{% extends "__base__.html" %}
{% load static %}
{% block title %}Wycenkowiec{% endblock title %}
{% block content %}


  {% csrf_token %}
    <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
      <label for="id-quantity1" class="col-form-label">Nazwa klienta: </label>
        </div>
        <div class="col-auto">
      <input class="form-control" id="id_client_name" name="client_name">
  </div>
    </div>
    <div id="template-div">
    <div class="row g-3 mb-3 align-items-center">
        <div class="col-auto">
    <label class="col-form-label" id="counter">1.</label>
  </div>
  <div class="col-auto">
    <label for="id-service1" class="col-form-label">Usługa</label>
  </div>
        <div class="col-auto">
    <select class="form-select" aria-label="Default select example" id="id-service1" name="service">
  <option value="0">Wybierz usługę</option>
        {% for service in services %}
            <option value="{{ service.id }}">{{ service.name }}</option>
        {% endfor %}
</select>
  </div>
        <div class="col-auto">
      <label for="id-quantity1" class="col-form-label">Ilość</label>
        </div>
        <div class="col-1" style="width: 100px">
      <input class="form-control" id="id-quantity1" name="quantity">
  </div>
    </div>
    </div>
    <button type="button" class="btn btn-success" id="add-service">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
</svg>
                Dodaj usługę
              </button>
  <button type="button" class="btn btn-primary" id="sum-button">Podlicz</button>



<script src="{% static "js/pricing_form.js" %}"></script>
{% endblock content %}